<div class="col-md-12">
  <h2>Album: <%= @album_name %></h2>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <% @album_images.each do |image| %>
    <div class="col-md-3" style="margin-bottom: 10px;">
      <div class="col-md-12" style="border:1px solid #eee;position:relative;background: url(<%= image.avatar %>);
            height: 300px;background-position: 50%; background-size: cover !important;">
        <div style="position: absolute; width: 100%; height: 40px; bottom:0px;
            background-color: rgba(0, 0, 0, 0.41);color: #fff; left:0px;padding:10px;">
          <b><%= image.name %></b>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
